<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img id="pic" src="../../../assets/profile.jpg" class="img-fluid">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="name">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Full Stack Developer JR</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca mio</h1>
        <p>Lorem ipsum dolor sit 
            amet consectetur adipisicing
            elit. Quia nulla possimus 
            dolorum quod neque eaque.
            Autem eveniet sunt cum atque 
            quo accusantium. Exercitationem 
            magnam dolorum sed esse eaque 
            asperiores architecto?
        </p>
    </span>
</div>