<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo1</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, consequatur? Illum quaerat labore, rerum dignissimos nihil expedita quasi exercitationem, magnam tempore sit obcaecati reprehenderit quisquam impedit dolore aperiam nesciunt ex.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo2</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, consequatur? Illum quaerat labore, rerum dignissimos nihil expedita quasi exercitationem, magnam tempore sit obcaecati reprehenderit quisquam impedit dolore aperiam nesciunt ex.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo3</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, consequatur? Illum quaerat labore, rerum dignissimos nihil expedita quasi exercitationem, magnam tempore sit obcaecati reprehenderit quisquam impedit dolore aperiam nesciunt ex.</p>
        </ul>
    </div>

</div>


